@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Nunito', sans-serif;
	font-size: 16px;
	background: #12111f;
}

h1 {
	text-transform: uppercase;
	letter-spacing: 8px;
	padding: 80px 0;
	text-align: center;
	font-size: 60px;
	color: #eee;
}

h2 {
	font-size: 40px;
	padding: 24px 0;
}

ul {
	padding: 20px;
	list-style: none;
}

.list {
	padding: 0 15px;
}

.list__container {
	margin: 0 auto 60px;
	text-align: center;
	max-width: 800px;
	color: white;
	line-height: 24px;
	transition: 0.8s ease;
}

.list__container-git {
	border: 2px solid #f35b5d;
}

.list__title {
	background: #f35b5d;
}

.list__items > li {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 20px;
}

.list__items > li:first-child {
	margin-top: 0;
}

.list__items span {
	margin: 0 12px;
	padding: 10px 20px;
	border: 2px solid #f35b5d;
}
